@import './variables.scss';
@import './mixin.scss';
@import "./reset"; // 清除样式
html,
body,
#app {
    width: 100%;
    min-height: 100vh;
    color: #333333;
    // background: red;
    font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
    background-color: $background-color;
}

.app-container {
    padding-bottom: 50px;
}
